*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 29, 29);
    font-family: sans-serif;
    color: aliceblue;
}

.img{
    width: 180px;
    border-radius: 50%;
}

.card{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    width: 70%;
    padding: 50px;
}

.list-rrss ul{
    display: flex;
}

.list-rrss ul li{
    list-style: none;
}

.list-rrss a{
    color: inherit;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    border-radius: 15px;
    margin-right: 20px;
    padding: 30px 3vw;
}


